<!DOCTYPE html>
<html>
  <head>
    <title>City Slixter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="http://vjs.zencdn.net/5.12.6/video-js.css" rel="stylesheet">`
  </head>

  <body>
    <div id="flex-content-container">   
     <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to 'City Slixter', root_path, class: 'navbar-brand' %>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
              <%= link_to 'Courses', courses_path, class: 'nav-link' %>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item">
              <%= link_to 'My Dashboard', dashboard_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
              <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    
 
    <% if notice.present? %>
    <div class="alert alert-warning" role="alert">
		  <%= notice %>
	  </div>
      <% end %>
    <% if alert.present? %>
	  <div class="alert alert-danger" role="alert">
		  <%= alert %>
	  </div>
      <% end %>
    <%= yield %>
    
      <footer id="footer">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-3">
              <b>Teachers</b>
              <br />
              <%= link_to 'Teach a Course', new_instructor_course_path %>
              <br />
              <% link_to 'My Dashboard', dashboard_path %>
            </div>
            <div class="col-12 col-sm-2">
              <b>About</b>
              <br />
              <%= link_to 'Team', about_path %>
              <br />
              <%= link_to 'Careers', careers_path %>
              <br />
              <%= link_to 'Privacy Policy', privacy_path %>
            </div>
            <div class="col-12 col-sm-4">
              <b>Contact</b>
              <br />
              reneersandefur@gmail.com
              <br />
              Miami, FL
            </div>
            <div class="col-12 col-sm-3 social">
              <b>Social</b>
              <br />
              <%= link_to 'https://github.com/ReneeSandefur' do %>
                <span class="fa fa-github-square fa-2x social-button"></span>
              <% end %>
              <span class="fa fa-facebook-square fa-2x social-button"></span>
              <span class="fa fa-twitter-square fa-2x social-button"></span>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="http://vjs.zencdn.net/5.0.2/video.js"></script>
    <script src="//vjs.zencdn.net/ie8/1.1.1/videojs-ie8.min.js"></script>
  </body>
</html>
